@using MvcCv.Models.Entity
@model List<TblEgitimlerim>



<div class="resume-section-content">
    <h2 class="mb-2">Eğitim Hayatım</h2>
    @foreach (var item in Model)
    {
        <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
            <div class="flex-grow-2">
                <h3 class="mb-2">@item.Baslik</h3>
                <div class="subheading mb-1">@item.AltBaslik1</div>
                <div>@item.AltBaslik2</div>
                <p>GNO: @item.GNO</p>
            </div>
            <div class="flex-shrink-5"><span class="text-primary">@item.Tarih</span></div>
        </div>
    }
</div>